.backgroundImage{
    position: fixed;
    margin: 0;
    width: 100%;
    height: 500px;
    background-size: cover;
    z-index: -100;
}

.imageBlur{
    filter: blur(7px);
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.eventDetails{
    display: grid;
    grid-template-areas:
    "image ticket"
    "detail detail";
    grid-template-columns: 60% 1fr;
    grid-template-rows: 60% 1fr;
    background-color: rgb(251, 251, 251);
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    z-index: 1;
    width: 60%;
    height: 700px;
    box-shadow: 10px 10px 10px 8px #888888;
}

.mainImage{
    width: 100%;
    height: 100%;
}

.eventDetails > .eventName{
    grid-area: detail;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color: purple;
    margin-left: 10px;
}

.eventDetails > .detailsBox {
    grid-area: detail;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-family: cursive;
    font-size: 18px;
    font-weight: 600;
}

.eventDetails > .addTickets{
    grid-area: ticket;
    display: flex;
    justify-content: center;
    margin-top: 35%;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-bottom: 1px solid rgb(116, 108, 108);
    font-weight: bold;
}

.eventDetails > .toAddTickets{
    grid-area: ticket;
    width: 70px;
    height: 40px;
    margin-top: 50%;
    margin-left: 40%;
    font-size: 24px;
    border-radius: 25px;
    background-color: rgba(192, 38, 192, 0.452);
}

.editButton{
    grid-area: ticket;
    margin-top: 10px;
    width: 70px;
    height: 50px;
    margin-left: 380px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(192, 38, 192, 0.452);
}

.deleteButton{
    grid-area: detail;
    margin-top: 220px;
    width: 70px;
    height: 50px;
    margin-left: 1050px;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgba(199, 18, 18, 0.452);
}
