.ticket{
    display: grid;
    grid-template-areas:
    "detail"
    "barcode";
    grid-template-rows: 60px 1fr;
    width: 500px;
    height: 400px;
    border: 1px solid black;
    margin-top: 20px;
    background-color: antiquewhite;
}

.detailType{
    grid-area: "detail";
    margin-left: 20px;
    margin-top: 10px;
    padding: 0px;
    width: 100%;
    height: 1px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    font-family: 'Times New Roman', Times, serif;
}


.barcode{
    grid-area: "barcode";
    background-size: cover;
    max-width: 100%;
    max-height: 300px;
}
