.allTicketsContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('https://images.pexels.com/photos/1179581/pexels-photo-1179581.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-size: cover;
    color: purple;
    height: 100%;
    width: 100%;
}
