.navButtonContainer{
    display: grid;
    grid-template-columns: 80% 10% 10%;
    height: 50px;
    z-index: 1;
    overflow: auto;
}

.homeButton{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    color:black;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100px;
    height: 50px
}

.loginButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: purple;
    font-weight: 700;
    height: 50px;
}

.signupButton{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    height: 50px;
}
