@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,600&display=swap');

.navButtonContainer{
    display: grid;
    grid-template-columns: 80% 10% 10%;
    /* height: 70px; */
    height: 50px;
    overflow: none;
}

.myEvents{
    background-color: rgba(240, 248, 255, 0);
    border: none;
    font-size: 15px;
    color: purple;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.userButtons{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: purple;
    font-weight: 700;
    height: 98%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.biggerNavButtonContainer{
    display: grid;
    grid-template-columns: 54% 10% 10% 10% 10% 6%;
    height: 70px;
    overflow: none;
    border-bottom: 1px solid black;
}

.homeButton{
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vw;
    color:#386abf;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 8%;
}

.loginButton{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: purple;
    font-weight: 700;
    height: 98%;
}

.signupButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    height: 98%;
}
